body{
	color: #ffffff;
	background:#323232 url(http://www.csszengarden.com/219/bg.png);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 67% 0%; 

	margin-right:100px
}
a{
	text-decoration: none;
	color: #ffffff;
}